#wartOSscr {
	width: 100%;
	max-height: 50vh;
	border-radius: 8px;
	box-shadow: 4px 5px 9px 0px rgba(0, 0, 0, 0.5);
	display: block;
	margin-block: 8px;
}
#hero {
	display: flex;

	flex-direction: row;
	align-items: center;
	margin-top: 12px;

	padding: 12px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
	gap: 8px;

	#heroInfo {
		#heroName {
			font-size: 40px;
			margin: 0;
		}
	
		#heroHandle {
			font-size: 18px;
			margin: 0;
			color: rgb(140, 140, 140);
		}
	
		#heroSkills {
			font-size: 18px;
		}
	}
}

#heroAvatar {
	position: relative;

	#greenCircle {
		position: relative;
		filter: drop-shadow(0 0 6px #22c55e);
		animation: greenCirclePulse 1s ease-in-out infinite alternate;
	}
}

@keyframes greenCirclePulse {
	from {
		filter: drop-shadow(0 0 4px #22c55e);
	}
	to {
		filter: drop-shadow(0 0 8px #22c55e);
	}
}

@media screen and (max-width: 345px) {
	#hero {
		flex-direction: column;
		align-items: center;

		#heroInfo {
			text-align: center;
		}
	}
}

#heroInfoContainer {
	display: flex;
	gap: 12px;
	align-items: center;

	#heroLocationContainer {
		display: flex;
		gap: 4px;
		align-items: center;
		text-decoration: none;

		#heroLocation {
			color: #eba3a3;
			text-align: left;
		}

		&:hover img {
			animation: bounce 0.6s ease-in-out;
		}
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	30% {
		transform: translateY(-5px) scale(0.9, 1.1);
	}
	60% {
		transform: translateY(2px) scale(1.2, 0.8);
	}
	85% {
		transform: translateY(-1px) scale(0.9, 1.1);
	}
	100% {
		transform: translateY(0px);
	}
}

@media screen and (max-width: 500px) {
	#heroInfoContainer {
		flex-direction: column;

		#heroInfoDivider {
			margin-block: -20px;
			opacity: 0;
		}
	}
}

#heroPosts {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
	margin-block: 32px;
	width: 844px;
}
.heroPost {
	border-radius: 20px;
	padding: 8px;
	background: linear-gradient(-45deg, var(--highlight) 0%, rgba(0, 0, 0, 0.8) 50%);
	display: flex;
	text-decoration: none;
	box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
	flex-direction: column;
	align-items: center;
	width: min(416px, 100%);
	position: relative;
	
	.description {
		color: rgb(140, 140, 140);
	}
	
	.heroVideoContainer {
		cursor: pointer;
		display: flex;
		position: relative;
		aspect-ratio: 1920 / 1080;
		width: 100%;

		video {
			display: none;
		}
	
		img, video {
			max-width: min(400px, 100%);
			border-radius: 12px;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			left: 0;
		}

		img {
			box-shadow: 0px 10px 10px var(--highlight);
		}

		.hovertext {
			background-color: #22c55e;
			color: white;
			text-shadow: 1px 1px 2px black;
			padding: 4px;
			border-radius: 12px;
			bottom: 0px;
			right: 0px;
			position: absolute;
			opacity: 0;
			transition: all 0.3s;
		}
	}

	h1 {
		margin-block: 0.25em;
		text-shadow: 3px 3px 3px var(--highlight),
			3px 3px 3px var(--highlight),
			3px 3px 3px var(--highlight);
	}

	&:hover img {
		display: none;
	}
	&:hover video {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 8px;
		pointer-events: none;
	}
	&:hover .hovertext {
		opacity: 1;
		transform: translate(-8px, -8px);
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	}
}
@media screen and (max-width: 1200px) {
	#heroPosts {
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	#home {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}