:root {
	--line: rgb(212, 153, 183);
	--year: rgb(184, 33, 176);
}

section[data-sectionid="posts"] {
	padding-left: 20px;
	margin-left: 20px;
	border-left: 3px solid var(--line);
	background: linear-gradient(90deg, rgba(212, 153, 183, 0.15), #00000000 20px);

	.post::before {
		content: '';
		position: absolute;
		top: 60px;
		right: 100%;
		width: 30px;
		height: 3px;
		background-color: var(--line);
	}

	.year {
		color: var(--line);
		position: relative;
		cursor: pointer;
		
		&::before {
			content: "";
			margin-right: 8px;
			width: 14px;
			height: 14px;
			background-color: var(--year);
			border-radius: 50%;
			position: absolute;
			left: -28px;
			top: 10px;
			outline: 3px solid var(--line);
		}

		&:hover {
			animation: dotBounce 0.5s ease-in-out;
		}

		&:hover::before {
			animation: dotBounce2 0.5s ease-in-out;
		}
	}
}

@keyframes dotBounce {
	0% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(13px);
	}
	40% {
		transform: translateX(-9px);
	}
	60% {
		transform: translateX(2px);
	}
	80% {
		transform: translateX(-1px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes dotBounce2 {
	0% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(-13px);
	}
	40% {
		transform: translateX(7px);
	}
	60% {
		transform: translateX(0px);
	}
	80% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(0px);
	}
}

.post {
	margin-block: 20px;
	margin-left: 10px;
	margin-right: 20px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	padding-left: 25px;
	box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5), 4px 4px 5px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	position: relative;
	max-width: 1200px;

	.links {
		top: 0;
		right: 0;
		position: absolute;
		display: flex;
		gap: 6px;
		align-items: center;
		justify-content: right;
		height: 28px;
		margin: 12px 12px;
		z-index: 2;

		a {
			width: 28px;
			height: 28px;
		}
	}

	h1 {
		display: flex;
		align-items: center;
		gap: 6px;
		max-width: 600px;

		a {
			text-decoration: none;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
#discordbots .post::before {
	background-color: var(--botpost);
	box-shadow: 0px 0px 4px var(--botpost);
}
h1 {
	font-size: 2em;
	margin: 0px;
}
p {
	font-size: 1.4em;
	margin-block: 0.3em;
	font-weight: 500;
}
.timestamp {
	font-size: 1em;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.7);
}
.post .cover {
	width: clamp(140px, 100%, 460px);
	aspect-ratio: 16 / 9;
	border: none;
	object-fit: cover;
	border-radius: 10px;
}
@media screen and (max-width: 1150px) {
	.post {
		padding-left: 20px;
		h1 {
			font-size: 1.6em;
			font-weight: 700;
		}
		p {
			font-size: 1.2em;
		}
	}
}
@media screen and (min-width: 1450px) {
	section[data-sectionid="posts"], section[data-sectionid="discordbots"] {
		width: 100%;
	}
	.post:has(.cover) {
		min-height: 330px;
	}
	.post h1, .post p {
		max-width: 550px;
	}
	.post .cover {
		position: absolute;
		right: 20px;
		top: 50px;
	}
}
.thumb {
	cursor: pointer;
}
.titleIcon {
	width: 28px;
}